#navigation-container {
  width: 3%;
  height: 100vh; /* Set height to 100% of viewport height */
  transition: width 0.3s ease-in-out;
  overflow-y: auto; /* Enable vertical scrolling */

  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: transparent transparent; /* Scrollbar thumb color and track color */
}

#navigation-container:hover {
  width: 10%;
}

/* Initially hide nav-item-name */
.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

/* WebKit-based browsers */
#navigation-container::-webkit-scrollbar {
  width: 4px; /* Very thin scrollbar */
}

#navigation-container::-webkit-scrollbar-track {
  background: transparent; /* Make track transparent */
}

#navigation-container::-webkit-scrollbar-thumb {
  background: #555; /* Color of the scrollbar thumb */
  border-radius: 2px; /* Slightly rounded corners */
}

#navigation-container::-webkit-scrollbar-thumb:hover {
  background: #777; /* Color of the scrollbar thumb on hover */
}

@media (max-width: 768px) {
  #navigation-container {
    width: 8%; /* Set a fixed width on mobile */
  }

  /* Prevent hover width change on mobile */
  #navigation-container:hover {
    width: 8%; /* Ensure the width remains the same */
  }

 
}